@import "src/styles/scss/_variables.scss";

.command-prompt {
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding-top: 45px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}



.command-prompt pre {
  font-family: $font-family;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}
