<mat-toolbar class="header">
  <button mat-button><mat-icon>search</mat-icon></button>
  <span class="spaceBetween"></span>
  <button mat-button class="contentsBar" (click)="onClickHome()">Home</button>
  <button mat-button class="contentsBar" (click)="onClickProjects()">Projects</button>
  <button mat-button class="contentsBar" (click)="onClickResume()">Resume</button>
  <button mat-button id="about-page" class="contentsBar" (click)="onClickAbout()">About</button>
  <button mat-button class="contentsBar" (click)="onClickContact()">Contact</button>
</mat-toolbar>
