@import 'src/styles/scss/layout/layout';

.header {
  background: transparent;
  position: relative;
  padding-left: 250px;
  padding-right: 250px;
}

.contentsBar {
  padding: 0 14px;
  font-family: $font-family;
}

.spaceBetween {
  flex: 1 1 auto;
}

ul {
  margin: 0;
  padding: 0;
}
